/* css page 1 */

/* mise en forme principal de la page */

body
{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background-color: #FFD6D6;
}

/* mise en forme du contenu de la page */

#bloc_page
{
	width:1519px;
	margin:auto;
}

/* mise en forme du header */

header
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 100px;
}

/* mise en forme dont alignement du titre de la page et de la photo */ 

#logo_titre
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-end;
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
	background-color: #A3DDFF;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    
}

#logo img
{
    width: 145px;
    height: 145px;
}

/* mise en forme du menu de navigation */

nav ul
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

nav li
{
	margin-right:15px;
	font-size: 25px;
}

nav button
{
	border: 0.1px solid black;
	border-radius: 7px;
	font-size: 20px;
	background-color: #A3DDFF;
}

 /* réglage du temps que met une ombre à apparaitre dèrriere les boutons au survol du curseur */

@keyframes shadow_button
{
	from{box-shadow: 0px 0px 0px black;}
	to{box-shadow: 0px 0px 10px black;}
}

/* effet de survol des boutons de navigations */

nav button:hover
{
	text-decoration: none;
	box-shadow: 0px 0px 10px black;
	font-weight: bold;
	animation-name: shadow_button;
	animation-duration: 0.2s;
}

/* effet de clique des boutons de navigations */

nav button:active
{
	font-size: 20px;
	text-decoration: none;
	box-shadow: 0px 0px 6px grey inset;
	font-weight: normal;
}

/* mise en forme du text d'introduction */

#edito
{
	width:800px;
	margin: auto;
	margin-bottom: 100px;
	text-align: justify;
}

/* mise en forme du texte principal */

section
{
	width: 1300px;
	margin: auto;
	display: flex;
}

/* mise en forme de l'article */

article
{
	text-align: justify;
	margin-right: 200px;
}

/* mise en forme de l'image en la mettant à côté du texte */

aside #img_illustration
{
	display: flex;
	position: relative;
}

/* mise en forme du footer */

footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-top: 1px solid grey;
	padding: 80px 80px 80px 80px;
	margin-top: 100px;
	background-color: #3A3636;
}

table tr
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 1058px;
	margin: auto;
}

#qui_sommes_nous, #contact, #lien_freestyle
{
	color: white;
	text-decoration: none;
}

/* effet de survol au passage du curseur sur les liens */

#qui_sommes_nous:hover, #contact:hover, #lien_freestyle:hover
{
	text-decoration: underline;
}

/* effet de clique sur les liens */

#qui_sommes_nous:active, #contact:active, #lien_freestyle:active
{
	color: white;
	font-weight: normal;
}

/* responsive design page 1 */

@media all and (min-width:1000px) and (max-width: 1500px)
{

	#bloc_page
	{
		width: auto;
		margin-right: 0px;
	}

	header
	{
		width: auto;
	}

	#edito
	{
		width: auto;
		padding-right: 20px;
		padding-left: 20px;
	}

	section
	{
		width: auto;
	}

	article
	{
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	table tr
	{
		width: auto;
		flex-direction: column;
	}

	table td
	{
		padding-bottom: 10px;
		padding-top: 10px;
	}

}

@media all and (max-width: 1000px)
{

	#bloc_page
	{
		width: auto;
		margin-right: 0px;
	}

	header
	{
		width: auto;
	}

	nav
	{
		width: auto;
		text-align: center;
	}

	nav ul
	{
		flex-direction: column;
	}

	nav li
	{
		padding: 10px;
	}

	#edito
	{
		width: auto;
		text-align: left;
		padding-right: 20px;
		padding-left: 20px;
	}

	#img_illustration
	{
		display: none;
	}

	section
	{
		width: auto;
	}

	article
	{
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	table tr
	{
		width: auto;
		flex-direction: column;
	}

	table td
	{
		padding-bottom: 10px;
		padding-top: 10px;
	}

}

/* css page 2 */

/* mise en forme principal de la page */

#page2
{
	width: 1300px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
 
 /* mise en forme du formulaire */

form
{
	width: auto;
	margin: auto;
	font-size: 20px;
}

fieldset
{
	background-color: #A3DDFF;
}

#champs
{
	font-size: 10px;
}

#soumettre
{
	background-color: #FFD6D6;
	position: relative;	
	left: 197.86px;
	border-radius: 15px;
}

#soumettre:hover
{
	background-color: #FFC5C5;
}



/* responsive design page 2 */

@media all and (max-width: 1480px)
{
	#page2
	{
		width: auto;
	}

}